apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ namespace }}
data:
  POSTGRES_DB: {{ postgres_db }}
  POSTGRES_USER: {{ postgres_user }}
  postgres.conf: |
    listen_addresses = '*'
    max_connections = 100
    shared_buffers = 128MB
